:host {
  display: block;
  overflow: hidden;
}

.container {
  height: 100%;
  position: relative;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 64px;
  background-color: #EDEDED;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;

  .header-side {
    width: 48px;
  }

  .header-label {
    flex: 1;
    text-align: center;
  }

  mat-spinner {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  mat-icon {
    width: 48px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    cursor: pointer;
    color: #AAAAAA;

    &:hover {
      color: #444444;
    }
  }
}
