:host {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 64px;
  background-color: #ededed;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;

  &.simple {
    height: auto;
    background-color: transparent;
    align-items: center;
    border-bottom: none;

    .header-side {
      width: 20px;
      height: 20px;

      mat-icon {
        line-height: normal;
        float: right;
        width: 20px;
        height: auto;
      }

    }
  }

  .header-side {
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header-label {
    flex: 1;
    text-align: center;
  }

  mat-spinner {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  .icon {
    width: 32px;
    height: 32px;
    transition: color 250ms;
    color: #888888;
  }

  .icon-close,
  .icon-prev {
    cursor: pointer;

    &:hover {
      color: #444444;
    }
  }
}

.container {
  position: relative;
  flex: 1;
}
